* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 21;
}

nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    min-height: 80px;
    background-color: rgb(66, 66, 66);
}

#nav-logo {
    max-height: 60px;
}

.spacer {
    display: inline-block;
    width: calc(100% - 50px - 260px);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    /* vertical-align: bottom; */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: aliceblue;
}

nav ul li a:hover {
    color: #B7987C;
}

.current {
    text-decoration: underline;
}


/* ----------- MAIN STYLES ----------- */

/* --- Main Container --- */
main {
    min-height: 70vh;
}

.article-container {
    width: 75%;
    margin-top: 8px;
}
/* --- Article --- */
.article-section {
    padding: 16px;
}

.article-item {
    scroll-margin-top: 90px;
}

.article-item h2, .article-item p, .article-item img {
    margin-bottom: 16px;
}

.article-item img {
    /* height: 300px; */
    width: 400px;
}

#gardening-article img {
    float: left;
    margin-right: 24px;
}

#landscaping-article img {
    float: right;
    margin-left: 24px;
}

#img-1 {
    float: left;
}

#img-2 {
    float: right;
}

#weed-control-article p {
    clear: both; 
}

/* ----- Main Aside ----- */
.main-aside {
    width: 24%;
    text-align: center;
    position: sticky;
    top: 84px;
}


.main-aside h2 {
    color: aliceblue;
    margin: 8px 0 24px;
}

.main-aside, .article-container {
    display: inline-block;
    vertical-align: top;
}

.main-aside-nav {
    background-color: rgb(45, 45, 45);
    border-left: 1px solid gray;
    min-height: 90vh;
}

.main-aside-nav ul li {
    display: block;
    margin: 0;
    padding-bottom: 8px;
}

.main-aside-nav ul li a {
    color: blue;
}

/* ----------- FOOTER STYLES ----------- */

footer a.footer-nav-items:link,
footer a.footer-nav-items:visited {
  color: rgb(172, 172, 255);
}

footer a.footer-nav-items:hover {
  color: rgb(172, 172, 255);
}

.footer {
    background-color: rgb(66, 66, 66);
    height: 100px;
}

.footer-nav {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 8px;
}

.div {
    display: block;
    width: 80%;
    height: 1px;
    border-bottom: solid 2px #333;
}

.footer-nav-list {
    display: flex;
    gap: 8px;
}

